body {
  text-align: center;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

#connectFour{
  background-color: rgb(44, 29, 246);
  display: inline-block;
  border: 10px solid rgb(44, 29, 246);
  border-radius: 25px;
  
}

.col{
  height: 90px;
  width: 90px;
  display: inline-block;
  background-color:black;
  border-radius: 50%;
  margin: 10px;
}

.hover-redCounter{
  background-color: rgba(255, 45, 185, 0.608);
}

.redCounter{
  background-color: rgb(255, 0, 191);
}

.hover-yellowCounter{
  background-color:rgba(255, 243, 73, 0.883);
}

.yellowCounter{
  background-color:rgb(247, 231, 1);
}

#restartContainer{

  display: flex;
  justify-content: space-between;

}

#newGame{
  background-color: rgb(44, 29, 246);
}









  
  